.lista {
 display: flex;
 margin-top: 2rem;
 flex-wrap: wrap;
 justify-content: center;
 gap: 2rem;
}

.card {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
}

.imgCard {
 width: 160px;
}

.btn {
 display: flex;
 max-width: min-content;
 font-family: "Inter";
 font-weight: 400;
 font-size: 1.5rem;
 background-color: #db8dc4;
 border-radius: 5px;
 border: none;
 margin: 2rem auto;
 padding: 10px 40px;
 transition: 0.3s;
}

.btn a {
 color: #fff;
}

.btn:hover {
 scale: 1.1;
 cursor: pointer;
 transition: 0.3s;
}

@media (min-width: 550px) {
 .lista {
  gap: 5rem;
 }
 .imgCard {
  width: 250px;
 }
}
